#header{
    background-color: #000;
}
.container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.space{
    justify-content: space-between;
}
.h-btn{
    margin-left: 40px;
}
.logo{
    width: 100px;
}
.logo img{
    width: 100%;
}
#content{
    text-align: center;
    margin-top: 50px;
}
.login-form{
    width: 50%;
    text-align: center;
}
.reg-io input[type='text'],input[type='password']{
    margin: 30px 0px 30px 0px;
    width: 300px;
}
.cont{
    padding: 50px;
    border-radius: 10%;
}